<ng-progress [positionUsing]="'marginLeft'" [direction]="'leftToRightIncreased'" [color]="'#fff'" [trickleSpeed]="1000" [thick]="true"
  [ease]="'linear'"></ng-progress>

<!-- contact-content -->
<div class="row contact-content">
  <div class="col l12 m12 s12 contact-content-one">
    <div class="cco-content">
      <h2 class="wow fadeInDown">Restaurant Pizzeria</h2>
      <h1 class="wow fadeInUp" data-wow-delay="200ms">La Brise</h1>
    </div>
    <div class="clear"></div>
  </div>

  <div class="col l5 offset-l1 m6 s12 contact-content-two">
    <p class="wow fadeInUp">
      Nous nous situons à Yamoussoukro au quartier énergie.
      <br> Nous disposons d'une grande capacité d'accueil ainsi
      <br> que d'un service suivant vos différents désirs.
    </p>
    <ul>
      <li class="wow fadeInUp">
        <span class="fa fa-phone"></span>  +225 30642182 | 07015648</li>
      <li class="wow fadeInUp" data-wow-delay="200ms">
        <span class="fa fa-envelope-o"></span>  kindagabi@gmail.com</li>
      <li class="wow fadeInUp" data-wow-delay="400ms">
        <span class="fa fa-calendar"></span>  Tous les jours - entre 6h00 et 24h00</li>
    </ul>
  </div>

  <div class="col l6 m6 s12 contact-content-three">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3961.6150025501056!2d-5.285250285101829!3d6.816592495073323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfb89130a0400d29%3A0x1d48dc83966754d6!2sRestaurant+la+Brise!5e0!3m2!1sfr!2sci!4v1520275630490"
      width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

  <div class="col l12 m12 s12 separator">
    <h3 class="wow fadeIn">Services rapides, excellents et de qualités</h3>
  </div>

  <div class="col l3 m3 s12 contact-img-item">
    <img class="wow fadeInUp" src="../../assets/imgs/items/co-1.jpg" alt="Image item">
  </div>
  <div class="col l3 m3 s12 contact-img-item">
    <img class="wow fadeInUp" data-wow-delay="200ms" src="../../assets/imgs/items/co-2.jpg" alt="Image item">
  </div>
  <div class="col l3 m3 s12 contact-img-item">
    <img class="wow fadeInUp" data-wow-delay="400ms" src="../../assets/imgs/items/co-3.jpg" alt="Image item">
  </div>
  <div class="col l3 m3 s12 contact-img-item">
    <img class="wow fadeInUp" data-wow-delay="600ms" src="../../assets/imgs/items/co-4.jpg" alt="Image item">
  </div>

</div>

<!-- //contact-content -->
