/* navbar-one */
.index-menu{
    margin: 0;
}

.navbar-one-content{
    padding: 0;
}

.brand-logo img{
    width: 100%;
}

.brand-logo{
    margin: 0;
    font-size: 28px;
    font-family: krinkes;

}

#nav-mobile{
    background: transparent !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#navbar-one .index-menu-right {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-one-button-collapse{
    color: #fff;
    font-size: 24px;
}

.ul-nav{
    display: flex;
    justify-content: center;
}

.ul-nav li a{
    color: #fff;
    font-size: 12px;
    font-family: PAPYRUS;
}

#mobile-demo {
    background: #45484d;
    /* Old browsers */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, from(#45484d), to(#000000));
    background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000', GradientType=0);
    /* IE6-9 */
}

#mobile-demo h1 {
    color: #f32f2f;
    text-align: center;
    font-family: krinkes;
    font-weight: bolder;
  }

  #mobile-demo li {
    text-align: center;
  }
  
  #mobile-demo li>a {
    color: #fff !important;
    font-size: 1.4rem;
    font-family: PAPYRUS;
  }

/* //navbar-one */


/* navbar-two */
#navbar-two{
    background-color: #fff;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.navbar-two-button-collapse{
    color: #d25c5c;
    font-size: 24px;
}

#navbar-two .brand-logo{
    color: #d25c5c;
    font-size: 34px;
    font-family: krinkes;
}

.navbar-top-ul li a{
   color: #000;
   font-size: 15px;
   font-family: PAPYRUS;
}

.navbar-top-ul li a:hover{
    
}

/* //navbar-two */