<!-- navbar-top -->
<nav id="navbar-two">
    <div class="container">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">La Brise</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse navbar-two-button-collapse"><i class="fa fa-reorder"></i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down navbar-top-ul">
                <li><a routerLink="home">Accueil</a></li>
                <li class="right-border"><a routerLink="menu">Menus</a></li>
                <li class="right-border"><a routerLink="bar">Boissons</a></li>
                <li class="right-border"><a routerLink="special">Specials</a></li>
                <li class="right-border"><a routerLink="gallerie">Gallerie</a></li>
                <li class="right-border"><a routerLink="event">Evènements</a></li>
                <li class="right-border"><a routerLink="contact">Contact</a></li>
            </ul>
          </div>
    </div>
</nav>

<!-- navbar-top -->

<!-- title-one -->
<div class="row title-one">
  <div class="container">
    <div class="col l12 m12 s12 title-one-content">
      <h1>
        La Brise
      </h1>
      <h4>
        restaurant
      </h4>
    </div>
  </div>
</div>
<!-- //title-one -->

<!-- navbar -->
<div class="row index-menu" id="navbar-one">
	<div class="container">
		<div class="col l12 navbar-one-content">
			<nav class="index-menu-right">
			    <div class="nav-wrapper">
			    	<a href="#" data-activates="mobile-demo" class="button-collapse navbar-one-button-collapse"><i class="fa fa-reorder"></i></a>
				      <ul id="nav-mobile" class="ul-nav hide-on-med-and-down">
				        <li class="li-animate"><a routerLink="home">Accueil</a></li>
								<li class="right-border li-animate"><a routerLink="menu">Menus</a></li>
								<li class="right-border li-animate"><a routerLink="bar">Boissons</a></li>
								<li class="right-border li-animate"><a routerLink="special">Specials</a></li>
				        <li class="right-border li-animate"><a routerLink="gallerie">Gallerie</a></li>
				        <li class="right-border li-animate"><a routerLink="event">Evènements</a></li>
				        <li class="right-border li-animate"><a routerLink="contact">Contact</a></li>
				      </ul>
				      <ul class="side-nav" id="mobile-demo">
								<h1>La Brise</h1>
				        <li><a routerLink="home">Accueil</a></li>
								<li><a routerLink="menu">Menu</a></li>
								<li><a routerLink="bar">Boissons</a></li>
								<li><a routerLink="special">Specials</a></li>
								<li><a routerLink="gallerie">Gallerie</a></li>
								<li><a routerLink="event">Evènements</a></li>
								<li><a routerLink="contact">Contact</a></li>
				      </ul>
			    </div>
			</nav>
		</div>
	</div>
	<div class="clear"></div>
</div>
<!-- //navbar -->

