<ng-progress [positionUsing]="'marginLeft'" [direction]="'leftToRightIncreased'" [color]="'#fff'" [trickleSpeed]="1000" [thick]="true"
  [ease]="'linear'"></ng-progress>

<!-- slider-zone  -->
<div class="row home-slider-zone slider-zone">
  <div class="container">
    <div class="slider">
      <ul class="slides">
        <li>
          <img src="../assets/imgs/slider/slide-eithe.jpg" alt="slider images">
          <div class="caption caption-one center-align">
            <h5>
              Restaurant Pizzeria
            </h5>
            <h1>
              La Brise
            </h1>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>
<!-- //slider-zone  -->

<!-- gallerie-content-one -->
<div class="row gallerie-content-one">
  <div class="col l12 m12 s12">
    <h2 class="wow fadeIn">Cadre agréable et subliminal pour votre plaisir</h2>
  </div>
</div>
<!-- //gallerie-content-one -->

<!-- gallerie-content-two -->
<div class="row gallerie-content-two">
  <div class="gallerie-block" >
    <div class="col l4 m4 s12 gal-item" *ngFor="let image of imgs">
      <img class="materialboxed wow fadeInUp" data-caption="Image Restaurant La Brise" src="../../assets/imgs/gallerie/{{image.name}}" alt="Gallerie image">
    </div>
  </div>
</div>
<!-- //gallerie-content-two -->

<!-- gallerie-content-three -->
<div class="row gallerie-content-three">
  <div class="col l12 m12 s12">
    <h3 class="wow fadeInUp">Qualité impéccable de la table aux assiettes</h3>
  </div>
</div>

<!-- //gallerie-content-three -->
