<!-- slider-zone  -->
<div class="row slider-zone">
  <div class="container">
    <div class="slider">
      <ul class="slides">
        <li>
          <img src="../assets/imgs/slider/slide-one.jpg" alt="slider images">
          <div class="caption caption-one left-align">
            <h5>
              Restaurant la brise
            </h5>
            <h1>
              L'art de savoir faire et d'etre
            </h1>
          </div>
        </li>
        <li>
          <img src="../assets/imgs/slider/slide-two.jpg" alt="slider images">
          <div class="caption caption-two right-align">
            <h1>
              Déguter
            </h1>
            <h2>
              Les meilleurs des délices conçus et proposés par des spécialistes.
            </h2>
          </div>
        </li>
        <li>
          <img src="../assets/imgs/slider/slide-three.jpg" alt="slider images">
          <div class="caption caption-three center-align">
            <h1>
              Decouvrez les meilleurs desserts
            </h1>
            <h2>
              Délicieux et fondant
            </h2>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- //slider-zone  -->

<!-- body-content-one -->
<div class="row body-content-one">
  <div class="container">
    <h1 class="welcome-title">Bienvenue</h1>
    <div class="col l6 m6 bco-left">
      <p>
        <span class="bco-left-span-one">Le restaurant</span>
        <span class="bco-left-span-two">La Brise</span>
        vous propose des services en terme de restauration, reception d’évènement et de rencontre. A travers un service dynamique,
        compétent etttentif à toutes vos attentes, nous vous proccuront un service de qualité.
      </p>
      <ul>
        <li>Nous servons les meilleurs nourritures de la ville</li>
        <li>Viandes, crustacés et poissons toujours frais</li>
        <li>Services rapides et agréables</li>
        <li>Satisfaction garantie</li>
      </ul>
      <button class="btn bco-left-btn">Regardez notre menu</button>
    </div>
    <div class="col l6 m6 bco-right">
      <h1>Sentez comment c'est à l'intérieur</h1>
      <div class="col l4 m6 s12 bco-right-bloc">
        <img class="materialboxed" src="../../assets/imgs/items/item-one.jpg" alt="Items images">
      </div>
      <div class="col l4 m6 s12 bco-right-bloc">
        <img class="materialboxed" src="../../assets/imgs/items/item-two.jpg" alt="Items images">
      </div>
      <div class="col l4 m6 s12 bco-right-bloc">
        <img class="materialboxed" src="../../assets/imgs/items/item-three.jpg" alt="Items images">
      </div>
      <div class="col l4 m6 s12 bco-right-bloc">
        <img class="materialboxed" src="../../assets/imgs/items/item-four.jpg" alt="Items images">
      </div>
      <div class="col l4 m6 s12 bco-right-bloc">
        <img class="materialboxed" src="../../assets/imgs/items/item-five.jpg" alt="Items images">
      </div>
      <div class="col l4 m6 s12 bco-right-bloc">
        <img class="materialboxed" src="../../assets/imgs/items/item-six.jpg" alt="Items images">
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<!-- //body-content-one -->
