/* silder-zone */
.slider-zone{
    margin: 0;
}

.home-slider-zone .caption-one h5,.home-slider-zone .caption-one h1{
    text-align: center;
}


/* caption one */

.home-slider-zone .caption-one h5{
    font-size: 2rem;
    font-family: PAPYRUS;

}

.home-slider-zone .caption-one h1{
    font-size: 7rem;
    font-family: krinkes;
    color: #cc747c;

}

/* //caption one */

/* caption two */

.home-slider-zone .caption-two h4{
    color: #1d1d1c;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.home-slider-zone .caption-two h2{
    color: #fffefe;
    font-size: 4rem;
    font-family: krinkes;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(231, 155, 155)), to(rgb(136, 6, 12)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* //caption two */

/* caption three */

.home-slider-zone .caption-three  h1{
    color: #cbcc74;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(246, 247, 243)), to(rgb(233, 230, 72)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-family: gill;
    text-transform: uppercase;
}

.home-slider-zone .caption-three h2{
    color: #efefef;
    font-size: 3rem;
    font-family: krinkes;
}

/* //caption three */

/* //silder-zone */

/* body-content */
.body-content{
    
}

.body-content .welcome-text{
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 33px;
    font-family: krinkes;
    line-height: 57px;
}

.left-body-content,.right-body-content{
    padding: 10px;
    border-top: solid 7px #4e0f1c; 
    background: #a90329; /* Old browsers */
    background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}

.left-body,.right-body{
    padding: 20px;
}

.left-body-content h2{
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-family: PAPYRUS;
    line-height: 50px;

}

.left-body-content h2 span{
    font-family: krinkes;
    font-size: 26px;
    color: #4e0f1c;
}

.left-body-content img{
    width: 100%;
}

.left-body-content p{
    color: #fff;
    font-family: PAPYRUS;
}

.left-body-content a{
    background-color: #cc0532;
    font-size: 14px;
    font-family: PAPYRUS;
    text-transform: capitalize;
}


.right-body-content h2{
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-family: PAPYRUS;
    line-height: 50px;
}

/* // body-content */